<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Update Company Profile</title>
</head>

<body>
    <div class="container">
        <h3>Update Company Profile</h3>
        <hr>

        <!-- Form to update student profile -->
        <form th:action="@{/company/save}" th:object="${company}" method="POST">
            
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" id="companyName" th:field="*{companyName}" class="form-control mb-4" placeholder="Enter company name">
            </div>

            <div class="form-group">
                <label for="companyLocation">Company Location</label>
                <input type="text" id="companyLocation" th:field="*{companyLocation}" class="form-control mb-4" placeholder="Enter company location">
            </div>

            
            <button type="submit" class="btn btn-info col-2">Save</button>
        
        </form>
        
        <hr>
        <a href="/company/dashboard">Back to Profile</a>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>
