<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Company Profile</title>
</head>

<body>

<div class="container mt-5">

    <h3>Company Profile</h3>
    <hr>

   
    <a href="/company/showFormForUpdate" class="btn btn-primary btn-sm mb-3">
        Update Profile
    </a>

   


    
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                <strong>Company Name:</strong> 
                <span th:text="${company != null ? company.companyName : 'Not Set'}"></span>
            </h5>
            <p class="card-text">
                <strong>Location:</strong> 
                <span th:text="${company != null ? company.companyLocation : 'Not Set'}"></span>
            </p>
            
        </div>
    </div>
    <div th:if="${company != null and company.companyName != null and company.companyLocation != null}">
        
        <a href="/company/showPositionForm" class="btn btn-success btn-sm mb-3">
            <i class="fas fa-plus-circle"></i> Announce New Position
        </a>
        
        <a href="/company/positions" class="btn btn-primary btn-sm mb-3">
            <i class="fas fa-list"></i> View Available Positions
        </a>
        
        <a href="/company/assignedPositions" class="btn btn-warning btn-sm mb-3 text-dark">
            <i class="fas fa-user-check"></i> View Assigned Positions
        </a>
        
    </div>

    <a th:href="@{/logout}" class="btn btn-danger btn-sm mb-3">Logout</a>

</div>

<!-- Optional: Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>

