<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Professor Profile</title>
</head>

<body>

<div class="container mt-5">

    <h3>Professor Profile</h3>
    <hr>

    <a href="/professor/showFormForUpdate" class="btn btn-primary btn-sm mb-3">
        Update Profile
    </a>

   
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                <strong>Full Name:</strong> 
                <span th:text="${professor != null ? professor.professorName : 'Not Set'}"></span>
            </h5>
            <p class="card-text">
                <strong>Interests:</strong> 
                <span th:text="${professor != null ? professor.interests : 'Not Set'}"></span>
            </p>
            
        </div>
    </div>
    <a href="/professor/assignedTraineeships" class="btn btn-info btn-sm mb-3">
        View Supervised Traineeships
    </a>
    
    <a th:href="@{/logout}" class="btn btn-danger btn-sm mb-3">Logout</a>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>