<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Update Professor Profile</title>
</head>

<body>
    <div class="container">
        <h3>Update Professor Profile</h3>
        <hr>

        
        <form th:action="@{/professor/save}" th:object="${professor}" method="POST">
            
            <div class="form-group">
                <label for="professorName">Professor Name</label>
                <input type="text" id="professorName" th:field="*{professorName}" class="form-control mb-4" placeholder="Enter professor name">
            </div>

            <div class="form-group">
                <label for="interests">Interests</label>
                <input type="text" id="interests" th:field="*{interests}" class="form-control mb-4" placeholder="Enter company interests">
            </div>

            
            <button type="submit" class="btn btn-info col-2">Save</button>
        
        </form>
        
        <hr>
        <a href="/professor/dashboard">Back to Profile</a>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>