<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>
       
        .action-column {
            width: 250px; 
        }
    </style>
    <title>Assigned Positions</title>
</head>
<body>

<div class="container mt-5">
    <h3>Traineeships In Progress</h3>
    <hr>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Student</th>
                <th>Interests</th>
                <th class="action-column">Action</th> 
            </tr>
        </thead>
        <tbody>
            <tr th:each="position : ${positions}">
                <td th:text="${position.title}"></td>
                <td th:text="${position.company.companyName}"></td>
                <td th:text="${position.student.studentName}"></td>
                <td th:text="${position.topics}"></td>
                <td class="action-column">
                    <!-- Select Button -->
                    <a th:if="${position.supervisor == null}" 
                    th:href="@{/committee/selectPosition(traineeshipId=${position.traineeshipId})}"
                    class="btn btn-info btn-sm mr-2">
                        Assign Professor
                    </a>
                
                    <a  
                        th:href="@{/committee/completeTraineeship(traineeshipId=${position.traineeshipId})}"
                        class="btn btn-warning btn-sm">
                        Complete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/committee/dashboard" class="btn btn-secondary mt-3">Back to Committee Workspace</a>
</div>

</body>
</html>
