<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Committee Dashboard</title>
</head>
<body>
<div class="container">
    <h2>Committee Member Workspace</h2>
    <h4>Logged as: <span sec:authentication="name"></span></h4>
    <br><hr><br>
    <a href="/committee/showTraineeshipApplications" class="btn btn-success btn-sm mb-3">
        Show Traineeship Applications
    </a>
    <p>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </p>

   
</div>
</body>
</html>
