<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Student Directory</title>
</head>
<body>

<div class="container mt-5">
    <h3>Student Directory</h3>
    <hr>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Student Name</th>
                <th>University ID</th>
                <th>Preferred Location</th>
                <th>Interests</th>
                <th>Skills</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.studentName}"></td>
                <td th:text="${student.AM}"></td>
                <td th:text="${student.preferredLocation}"></td>
                <td th:text="${student.interests}"></td>
                <td th:text="${student.skills}"></td>
                <td>
					<a th:href="@{/committee/selectStudent(studentId=${student.studentId})}"
					   class="btn btn-info btn-sm">
					    Select
					</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/committee/dashboard" class="btn btn-secondary mt-3">Back to Committe Workspace</a>
</div>

</body>
</html>