<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Fill Logbook</title>
</head>

<body>
    <div class="container">
        <h3>Fill Logbook</h3>
        <hr>

        <!-- Form to update student profile -->
        <form th:action="@{/students/saveLogbook}" th:object="${logbook}" method="POST">
            
            <div class="mb-4">
                <label class="form-label">Date:</label>
                <input type="date" class="form-control" th:field="*{date}" required/><br/>
            </div>

            <div class="mb4">
                <label class="form-label">Description:</label>
                <textarea id="description" name="description" class="form-control" rows="5" cols="80" th:value="${logbook.description}" required></textarea>
            </div>

            <button type="submit" class="btn btn-info col-2">Save</button>
        
        </form>

        <hr>
        <a href="/students/dashboard">Back to Profile</a>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>